@if (auth.isLoggedIn()) {
  <mat-toolbar color="primary" class="app-toolbar">
    <div class="nav-links">
      @if (auth.hasAnyRole(['Student'])) {
        <a mat-button routerLink="/student-dashboard" routerLinkActive="active-link">
          Student Dashboard
        </a>
      }

      @if (auth.hasAnyRole(['Instructor'])) {
        <a mat-button routerLink="/instructor-dashboard" routerLinkActive="active-link">
          Instructor Dashboard
        </a>

        <a mat-button routerLink="/instructor/courses" routerLinkActive="active-link">
          My Courses
        </a>
      }

      @if (auth.hasAnyRole(['Admin'])) {
        <a mat-button routerLink="/enrollments" routerLinkActive="active-link"> Enrollments </a>
      }

      @if (auth.hasAnyRole(['Student'])) {
        <a mat-button routerLink="/enroll" routerLinkActive="active-link"> Enroll Form </a>
      }

      @if (auth.hasAnyRole(['Student'])) {
        <a mat-button routerLink="/courses/101" routerLinkActive="active-link"> Course Detail </a>
      }

      @if (auth.hasAnyRole(['Instructor'])) {
        <a mat-button routerLink="/grade-submission" routerLinkActive="active-link">
          Grade Submission
        </a>
      }

      @if (auth.hasAnyRole(['Admin'])) {
        <a mat-button routerLink="/admin/courses" routerLinkActive="active-link"> Admin </a>
      }

      <button mat-button type="button" (click)="logout()">LOG OUT</button>
    </div>
  </mat-toolbar>
}

<router-outlet></router-outlet>
